@{
    ViewBag.Title = "Category";
}

@*<script src="~/Scripts/echarts-plain.js"></script>*@
<div class="main-container">


    <div class="contents-container">
        @Html.Partial("_AlertBoxPartial")

        <div class="title-container">
            <h4>
                @ViewBag.Title - <span class="bold">@ViewBag.FeedId</span>
            </h4>
        </div>

        @Html.Partial("_NotificationNavbarPartial")

        @Html.Partial("_LoadCategoryFeedListPartial")

    </div>

    <div class="tools-container">
        @Html.Partial("_MePartial")
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
