
@{
    ViewBag.Title = "index";
}

<h2>index</h2>

@using MSGorilla.Library;
@using System.Web.Http.Description;
@model System.Collections.Generic.List<ApiDescription>
    <div id="body">
        <section class="featured">
            <div class="content-wrapper">
                <hgroup class="title">

                    <h1>ASP.NET Web API Help Page</h1>

                </hgroup>

            </div>

        </section>
        <section class="content-wrapper main-content clear-fix">
            <h3>APIs</h3>
            <ul>

                @foreach (var api in Model)
                {
                    <li>
                        <h5>@api.HttpMethod @api.RelativePath</h5>
                        <blockquote>
                            <div>@Html.Raw(Utils.Txt2Html(api.Documentation))</div>
                            <br />
                            @if (api.ParameterDescriptions.Count > 0)
                            {
                                <h6>Parameters</h6>
                                <ul>
                                    @foreach (var parameter in api.ParameterDescriptions)
                                    {
                                        <li>@parameter.Name: @parameter.Documentation (@parameter.Source)</li>
                                    }
                                </ul>
                            }
                        </blockquote>
                    </li>
                }

            </ul>

        </section>

    </div>

