@{
    if (ViewBag.IsMe)
    {
        ViewBag.Title = "Me";
    }
    else
    {
        ViewBag.Title = "Profile";
    }
}

<script src="~/Scripts/common.js"></script>
<div class="main-container">

    <div class="contents-container">
        <div class="user-container ">
            <div class="user-info ">
                <div class="ma-btm-10">
                    <img class="img-rounded" id="user_pic" src="/Content/Images/default_avatar.jpg" width="200" height="200" />
                </div>
                <div>
                    <a class="lead" id="user_name">&nbsp;</a>
                </div>
                <div>
                    <span id="user_id">&nbsp;</span>
                </div>
                <div class="userdesp-input">
                    <span id="user_desp">&nbsp;</span>
                </div>
            </div>
            <div class="user-postinfo">
                <div class="btn-group btn-group-justified">
                    <a class="btn btn-default" href="/Profile/Index?user=@ViewBag.UserId">POSTS &nbsp;<span id="user_posts" class="badge">0</span></a>
                    <a class="btn btn-default" href="/Profile/Owned?user=@ViewBag.UserId">OWNED &nbsp;<span id="user_owned" class="badge"></span></a>
                    <a class="btn btn-default" href="/Profile/Following?user=@ViewBag.UserId">FOLLOWING &nbsp;<span id="user_following" class="badge">0</span></a>
                    <a class="btn btn-default" href="/Profile/Followers?user=@ViewBag.UserId">FOLLOWERS &nbsp;<span id="user_followers" class="badge">0</span></a>
                    <a class="btn btn-default disabled">FAVORITES &nbsp;<span id="user_favorites" class="badge"></span></a>
                    <a class='btn btn-default' id='btn_user_follow_@ViewBag.UserId.Replace("@","-").Replace(".","_")'></a>
                </div>
            </div>
        </div>

        <div id="notifications" class="posts-notification">
            @*<div class="alert alert-dismissable alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <p><a class="alert-link" href="#">You have new messages.</a></p>
                </div>*@
        </div>

        <div class="title-container">
            <h4>Favorites</h4>
        </div>

        <div class="posts-feeds">
            <ul id="topiclist" class='list-group'>
                <li id="loading_message" class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
                @*autofill by js*@
            </ul>
        </div>

        @*<div class="txtaln-c">
            <span id="lbl_seemore" class="help-block">Loading more...</span>
            <input id="hd_token" type="hidden" value="" /><input id="hd_newcount" type="hidden" value="0" />

            <script type="text/javascript">
                $(window).scroll(function () {
                    var documentTop = $(document).scrollTop();
                    var windowHeight = $(window).height();
                    var documentHeight = $(document).height();
                    if (documentTop >= (documentHeight - windowHeight)) {
                        LoadFeeds('@ViewBag.FeedCategory', '@ViewBag.UserId');
                    }
                })
            </script>
        </div>*@

    </div>

    <script>
        $(LoadUserInfo('@ViewBag.UserId'));
        $(LoadUserFavoriteTopics('@ViewBag.UserId'));
    </script>

    <div class="tools-container">
        @if (!ViewBag.IsMe)
        {
            @Html.Partial("_MePartial")
        }
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
