@{
    if (ViewBag.IsMe)
    {
        ViewBag.Title = "Me";
    }
    else
    {
        ViewBag.Title = "Profile";
    }
}

<div class="main-container">

    <div class="contents-container">
        @Html.Partial("_UserProfilePartial")

        @Html.Partial("_AlertBoxPartial")

        <div class="title-container">
            <h4>Favorites</h4>
        </div>

        <div class="posts-feeds">
            <ul id="topiclist" class='list-group'>
                <li id="loading_message" class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
                @*autofill by js*@
            </ul>
        </div>

    </div>

    <script>
        $(LoadUserFavoriteTopics('@ViewBag.UserId'));
    </script>

    <div class="tools-container">
        @if (!ViewBag.IsMe)
        {
            @Html.Partial("_MePartial")
        }
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
