@{
    if (ViewBag.IsMe)
    {
        ViewBag.Title = "Me";
    }
    else
    {
        ViewBag.Title = "Profile";
    }
}

<div class="main-container">

    <div class="contents-container">
        @Html.Partial("_UserProfilePartial")

        @Html.Partial("_AlertBoxPartial")

        <div class="block-container">
            <div>
                <span class="help-block">Followers</span>
            </div>
            <ul id="userlist" class="userlist-group">
                <li id="loading_message" class="center-block txtaln-c"><span class="spinner-loading"></span> Loading...</li>
                @*autofill by js*@
            </ul>
            <div class="clearfix"></div>
        </div>
    </div>

    <script>
        $(LoadUsers('@ViewBag.FeedCategory', '@ViewBag.UserId'));
    </script>

    <div class="tools-container">
        @if (!ViewBag.IsMe)
        {
            @Html.Partial("_MePartial")
        }
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
