@{
    ViewBag.Title = "Home";
}

<script src="~/Scripts/common.js"></script>
<div class="main-container">
    @Html.Partial("_EventModalPartial")

    <div class="contents-container">
        <div class="posts-newpost">
            <div class="well">
                <div class="newpost-header">
                    <span class="help-block">What's on your mind?</span>
                </div>
                <div class="newpost-input">
                    <textarea class="form-control" id="postmessage" rows="3" maxlength="140"></textarea>
                </div>
                <div class="newpost-footer">
                    <button id="btn_post" onclick="PostMessage();" class="btn btn-primary" type="button" data-loading-text="Posting...">Post</button>
                </div>
            </div>
        </div>

        <div id="notifications" class="posts-notification">
            @*<div class="alert alert-dismissable alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <p><a class="alert-link" href="#">You have new messages.</a></p>
                </div>*@
        </div>

        <div class="title-container">
            <h4>@ViewBag.Title</h4>
        </div>

        <div class="posts-feeds">
            <ul id="feedlist" class='list-group'>
                <li id="loading_message" class="list-group-item txtaln-c">Loading...</li>
                @*autofill by js*@
            </ul>
        </div>

        <div class="txtaln-c">
            <span id="lbl_seemore" class="help-block">Loading more...</span>
            <input id="hd_token" type="hidden" value="" />

            <script type="text/javascript">
                $(window).scroll(function () {
                    var documentTop = $(document).scrollTop();
                    var windowHeight = $(window).height();
                    var documentHeight = $(document).height();
                    if (documentTop >= (documentHeight - windowHeight)) {
                        LoadFeeds("@ViewBag.FeedCategory");
                    }
                })
            </script>
        </div>
    </div>

    <div class="tools-container">
        @Html.Partial("_MePartial")
        @Html.Partial("_ShortcutPartial")
    </div>

</div>

<script>
    $(LoadFeeds("@ViewBag.FeedCategory"));
    jQuery(document).ready(function () {
        $("#postmessage").flexselect();
    });
</script>

