@{
    ViewBag.Title = "Notifications";
}

<script src="~/Scripts/echarts-plain.js"></script>
<div class="main-container">
    <div class="contents-container">
        @Html.Partial("_AlertBoxPartial")

        <div class="title-container">
            <h4>
                @ViewBag.Title
                @if (ViewBag.FeedCategory != "replyline")   // reply cannot filter
                {
                    @Html.Partial("_FeedFilterDropdownPartial");
                }
            </h4>
            @*<span class="help-block">What's happening now, tailored for you.</span>*@
        </div>

        @Html.Partial("_NotificationNavbarPartial")

        @Html.Partial("_LoadFeedListPartial")

    </div>

    <div class="tools-container">
        @Html.Partial("_MePartial")
        @if (ViewBag.FeedCategory != "replyline")   // reply cannot filter
        {
            @Html.Partial("_FeedFilterPartial");
        }
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
