@{
    ViewBag.Title = "Search";
}

<div class="main-container">


    <div class="contents-container">
        @Html.Partial("_AlertBoxPartial")

        <div class="title-container-single">
            <div>
                <h4>Results for "<span class="bold">@ViewBag.SearchKeyword</span>"</h4>
            </div>
        </div>

        @Html.Partial("_SearchUserPartial")

        @Html.Partial("_SearchTopicPartial")

        @Html.Partial("_SearchPostPartial")

    </div>

    <div class="tools-container">
        @Html.Partial("_MePartial")
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
