@{
    ViewBag.Title = "Square";
}

<script src="~/Scripts/common.js"></script>
<div class="main-container">

    <!-- Events Modal -->
    <div class="modal fade" id="EventsModal" tabindex="-1" role="dialog" aria-labelledby="EventsModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="EventsModalLabel">Events</h4>
                </div>
                <div class="modal-body">
                    <ul class='list-group' id="events_div"></ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="contents-container">
        <div class="title-container">
            <div>
                <h4>@ViewBag.Title</h4>
                <span class="help-block">What's happening now, tailored for you.</span>
            </div>
        </div>

        <div id="notifications" class="posts-notification">
            @*<div class="alert alert-dismissable alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <p><a class="alert-link" href="#">You have new messages.</a></p>
                </div>*@
        </div>

        <div id="feedlist" class="posts-feeds">
            @*autofill by js*@
        </div>

        <div class="txtaln-c">
            <span id="lbl_seemore" class="help-block">Loading more...</span>
            <input id="hd_token" type="hidden" value="" />

            <script type="text/javascript">
                $(window).scroll(function () {
                    var documentTop = $(document).scrollTop();
                    var windowHeight = $(window).height();
                    var documentHeight = $(document).height();
                    if (documentTop >= (documentHeight - windowHeight)) {
                        LoadFeeds("@ViewBag.FeedCategory");
                    }
                })
            </script>
        </div>
    </div>

    <div class="tools-container">
        @Html.Partial("_MePartial")
        @Html.Partial("_ShortcutPartial")
    </div>

</div>

<script>
    $(LoadFeeds("@ViewBag.FeedCategory"));
</script>

