@{
    ViewBag.Title = "Message";
}

<script src="~/Scripts/echarts-plain.js"></script>
<div class="main-container">
    @Html.Partial("_EventModalPartial")

    <div class="contents-container">
        <div id="notifications" class="posts-notification">
            @*<div class="alert alert-dismissable alert-warning">
                    <button class="close" type="button" data-dismiss="alert">×</button>
                    <p><a class="alert-link" href="#">You have new messages.</a></p>
                </div>*@
        </div>

        <div class="title-container">
            <h4>
                @ViewBag.Title
            </h4>
        </div>

        <div class="posts-feeds">
            <ul id="feedlist" class='list-group'>
                <li id="loading_message" class="list-group-item txtaln-c"><span class="spinner-loading"></span> Loading...</li>
                @*autofill by js*@
            </ul>
        </div>

    </div>

    <script>
        $(LoadMessage('@ViewBag.UserId', '@ViewBag.FeedId'));
    </script>

    <div class="tools-container">
        @Html.Partial("_MePartial")
        @Html.Partial("_ShortcutPartial")
    </div>

</div>
