<div class="shortcut-container ">
    <div class="list-group" id="feedfilter_accordion">
        <a id="feedfilter_all" class="list-group-item top-radius-10" href="#" onclick="FilterFeeds('@ViewBag.FeedCategory', '@ViewBag.FeedId', 'all');">All feeds</a>
        <a id="feedfilter_latest24hours" class="list-group-item" href="#" onclick="FilterFeeds('@ViewBag.FeedCategory', '@ViewBag.FeedId', 'latest24hours');">Latest 24 hours</a>
        <a id="feedfilter_latest3days" class="list-group-item" href="#" onclick="FilterFeeds('@ViewBag.FeedCategory', '@ViewBag.FeedId', 'latest3days');">Latest 3 days</a>
        <a id="feedfilter_latest7days" class="list-group-item" href="#" onclick="FilterFeeds('@ViewBag.FeedCategory', '@ViewBag.FeedId', 'latest7days');">Latest 7 days</a>
        <a id="feedfilter_latest1month" class="list-group-item" href="#" onclick="FilterFeeds('@ViewBag.FeedCategory', '@ViewBag.FeedId', 'latest1month');">Latest 1 month</a>
    </div>
</div>
