<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - MSGorilla</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="page-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MSGorilla", "Index", "Welcome", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    @if (ViewBag.Title == "Home")
                    {
                        @*<li class="active">@Html.ActionLink("⌂ Home", "Index", "Home")</li>*@
                        <li class="active"><a href="/Home">⌂ Home <span class="badge" id="nav_home_count"></span></a></li>
                    }
                    else
                    {
                        @*<li>@Html.ActionLink("⌂ Home", "Index", "Home")</li>*@
                        <li><a href="/Home">⌂ Home <span class="badge" id="nav_home_count"></span></a></li>
                    }
                    @if (ViewBag.Title == "Notifications")
                    {
                        @*<li class="active">@Html.ActionLink("● Notifications", "Index", "Home")</li>*@
                        <li class="active"><a href="/Notification">● Notifications <span class="badge" id="nav_notification_count"></span></a></li>
                    }
                    else
                    {
                        @*<li>@Html.ActionLink("● Notifications", "Index", "Notification")</li>*@
                        <li><a href="/Notification">● Notifications <span class="badge" id="nav_notification_count"></span></a></li>
                    }
                    @if (ViewBag.Title == "Square")
                    {
                        <li class="active">@Html.ActionLink("# Square", "Index", "Square")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("# Square", "Index", "Square")</li>
                    }
                    @if (ViewBag.Title == "Me")
                    {
                        <li class="active">@Html.ActionLink("Ω Me", "Index", "Profile")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Ω Me", "Index", "Profile")</li>
                    }
                    @if (ViewBag.Title == "API Doc")
                    {
                        <li class="active">@Html.ActionLink("? API Doc", "Index", "Document")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("? API Doc", "Index", "Document")</li>
                    }
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" data-toggle="dropdown">↙ Download <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="https://msgorilla.blob.core.windows.net/tools/DesktopTool.zip">≡ Desktop Tool</a></li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
                <form class="navbar-form navbar-right" method="get" action="/Search/index">
                    <input class="form-control col-lg-12 search-bar" type="text" placeholder="Search for people & topics." name="keyword" maxlength="30">
                </form>
            </div>
        </div>
    </div>

    @if (ViewBag.Title == "Welcome")
    {
        @Html.Partial("_CarouselPartial")
    }

    <div class="page-container">
        <div class="body-content">
            @RenderBody()
        </div>
        <div class="clearfix"></div>
    </div>

    <footer>
        <div class="page-container">
            <div>
                &copy; @DateTime.Now.Year - <a href="https://msgorilla.cloudapp.net/">MSGorilla</a>
                <a class=" ma-lt-15" href="/Welcome/Contact">Contact us</a>
                <a class=" ma-lt-15" href="/Welcome/About">About us</a>
                <a class=" ma-lt-15" href="https://msgorilla.blob.core.windows.net/tools/DesktopTool.zip">Desktop Tool</a>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
